.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 100vh;
  color: #101010;
}
.main {
  width: 700px;
}
.main img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.link {
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  color: #101010;
  text-shadow: 5px 5px 10px;
}
.link:hover {
  background-color: #101010;
  color: white;
  padding: 10px;
  border-radius: 10px;
}